@media screen and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  .madya {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .logo {
    width: 10vw;
    margin: 0.3rem 0;
  }
  .move {
    display: grid;
    justify-content: space-evenly;
  }
  .list {
    margin-top: 1rem;
  }
  .estate {
    margin: 0;
  }
}
